html, body { width: 100%; height: 100%; background-color: #FFF73F; }

@font-face { font-family: "anb"; src: url("../font/anb.ttf"); }
@font-face { font-family: "andb"; src: url("../font/andb.ttf"); }

#wrapper { width: 100%; opacity: 0; padding-top: 52px; }

.social { position: absolute; top: 25px; height: 30px; opacity: 1; }
#twitter { right: 62px; width: 30px; -webkit-transition: all .150s; }
#facebook { right: 21px; width: 30px; -webkit-transition: all .150s; }
#twitter img, #facebook img { width: 100%; height: 100%; }

#twitter:hover { -webkit-transform: scale(.95); -webkit-transition: all .150s; }
#facebook:hover { -webkit-transform: scale(.95); -webkit-transition: all .150s; }

#logo { display: block; width: 111px; height: 64px; background: url("../img/logo.png") top left no-repeat; background-size: 100% 100%; margin: 0px auto 10px auto; -webkit-transform: scale(.7); }

#info { font: normal 40px "andb"; position: absolute; top: 0px; left: 0px; }

#tagline { text-align: center; font: normal 20px "andb"; margin-bottom: 60px; }

#gif { display: block; width: 522px; height: 358px; margin: 0px auto 40px auto; background: url("../img/comp_001.png") top left no-repeat; background-size: 100% 100%; }
#gif.on { display: block; width: 522px; height: 358px; margin: 0px auto 40px auto; background: url("../img/comp_002.png") top left no-repeat; background-size: 100% 100%; }

#getbutton { cursor: pointer; display: block; width: 300px; height: auto; margin: 0 auto; -webkit-transition: all .150s; }
#getbutton:hover { -webkit-transform: scale(.95); -webkit-transition: all .150s; }